body {
    padding: 10px;
    background: #3A63B5;
}

// taken from http://codepen.io/lbebber/pen/xrwja
@-webkit-keyframes wave-animation{
    0%{background-position:0 bottom};
    100%{background-position:200px bottom};
}
@-webkit-keyframes loading-animation{
    0%{background-size:200px 0px};
    100%{background-size:200px 200px};
}

#login {
    font-family: 'Cabin Condensed', sans-serif;
        
    h1 {
        text-transform:uppercase;
        font-weight:bold;
        font-size:100pt;
        text-align:center;
        height:120px;
        line-height:110px;
        vertical-align:bottom;
        position:absolute;
        left:0;
        right:0;
        top:100px;
        bottom:0;
        display:block;
        background-image: url('/static/wave.png');
        -webkit-background-clip: text;
        color: rgba(0, 0, 0, 0);
        text-shadow: 0px 0px rgba(255,255,255,0.06);
        -webkit-animation: wave-animation 1s infinite linear, loading-animation 10s infinite linear alternate;
        background-size:200px 100px;
        background-repeat:repeat-x;
        opacity: 1;
    }

    #links {
        position: absolute;
        top: 250px;
        left: 0;
        right: 0;
        bottom: 0;
        text-align: center;

        a {
            color: white;
            font-size: 36px;
            padding: 0 20px;
            -webkit-transition: 0.2s all;
            opacity: 0.8;
        }

        a:hover {
            text-decoration: none;
            opacity: 1;
        }
    }
}

#game {
    #intro {
        display: none;
        color: white;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        width: 600px;
        height: 150px;
        font: 20px 'Droid Serif', 'Times New Roman', serif;
        line-height: 1.5em;
        font-style: italic;

        small {
            font-style: normal;
        }
    }

    #content {
        background: white;
        padding: 5px 30px;
        //display: none;

        ul {
            list-style: none;
            padding-left: 0;
        }

        #actions {
            li {
                margin-bottom: 5px;
            }
        }

        #log {
            
        }
    }
}

h1 {
    margin-top: 0;
}
