$font: 20px 'Droid Serif', 'Helvetica', 'Arial', sans-serif;

* { padding: 0; margin: 0; outline: none; }

body {
    padding: 10px;
    background: #3A63B5;
    font: $font;
/*background: black url("/static/bg.jpg") no-repeat center top;
  background-size: cover;*/
}

body.home {
    background: url("/static/beach.jpg") no-repeat center top;
    background-size: cover;
}

a {
    text-decoration: none;
}

// taken from http://codepen.io/lbebber/pen/xrwja
@-webkit-keyframes wave-animation{
    0%{background-position:0 bottom};
    100%{background-position:200px bottom};
}
@-webkit-keyframes loading-animation{
    0%{background-size:200px 0px};
    100%{background-size:200px 200px};
}

#login {
    font-family: sans-serif;
    
    h1 {
        text-transform:uppercase;
        font-weight:bold;
        font-size:100pt;
        text-align:center;
        height:120px;
        line-height:110px;
        vertical-align:bottom;
        position:absolute;
        left:0;
        right:0;
        top:100px;
        bottom:0;
        display:block;
        color: white;
        /*color: rgba(0, 0, 0, 0);
          text-shadow: 0px 0px rgba(255,255,255,0.06);
          background-image: url('/static/wave.png');
          -webkit-background-clip: text;
          -webkit-animation: wave-animation 1s infinite linear, loading-animation 10s infinite linear alternate;
          background-size:200px 100px;
          background-repeat:repeat-x;*/
        opacity: 1;
    }

    #center {
        position: absolute;
        top: 250px;
        left: 0;
        right: 0;
        bottom: 0;
        text-align: center;
        color: white;

        #links {
            a {
                color: white;
                font-size: 36px;
                padding: 0 20px;
                -webkit-transition: 0.2s all;
                opacity: 0.8;
            }

            a:hover {
                text-decoration: none;
                opacity: 1;
            }
        }

        #input {
            display: none;
            margin: 0 auto;
            font: $font;
            font-size: 16px;

            td {
                padding: 3px;
            }

            td:first-child {
                text-align: right;
            }

            td:last-child {
                text-align: left;
            }
        }
    }
}

#intro {
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 600px;
    height: 150px;
    line-height: 1.5em;
    font-style: italic;

    small {
        font-style: normal;
    }
}

#home {
    margin: 0 auto;
    width: 1030px;
    position: relative;

    // each widget in the home screen is a .box
    .box {
        border: 1px solid grey;
        position: absolute;
        
        h1 {
            background: #aaa;
            color: white;
            font-size: 24px;
            padding: 5px 10px;
        }

        .content {
            background: white;
            padding: 15px;
            overflow: auto;
        }
    }
    
    #tabs-nav {
        position: absolute;
        left: 0;
        top: 175px;
        width: 125px;
        border: 1px solid black;
        
        a {
            display: block;
            background: white;
            color: black;
            padding: 5px 10px;
            border-bottom: 1px solid black;
        }

        a:last-child {
            border-bottom: 0;
        }

        a.active {
            color: red;
        }
    }

    #tab-container {
        position: absolute;
        left: 150px;
        top: 175px;

        .tab {
            display: none;
            width: 875px;
            height: 400px;
            background: white;
            border: 1px solid grey;

            h1 {
                background: #aaa;
                color: white;
                font-size: 24px;
                padding: 5px 10px;
            }

            .content {
                padding: 10px;
            }
        }

        .tab.active {
            display: block;
        }

        #actions {
            ul {
                list-style: none;
                padding-left: 0;

                li {
                    margin-bottom: 3px;
                }
            }

            button {
                border: 1px solid #888;
                border-radius: 4px;
                padding: 3px 5px;
                cursor: pointer;
                background: linear-gradient(to right, rgba(0, 0, 0, 0.1) 0%, transparent 0%);
            }
        }

        #items {
            ul {
                list-style-position: inside;
                li { font-size: 16px; }
            }
        }
    }

    $diff: 68px;
    $topHeight: 150px;
    #log {
        width: 800px;
        height: $topHeight;
        top: 0;
        left: 0;

        .content { 
            height: $topHeight - $diff; 
        }

        ul { 
            list-style-position: inside; 

            li {
                font-size: 16px;
            }
        }
    }

    #stats {
        width: 200px;
        height: $topHeight;
        left: 825px;
        top: 0;

        .content { height: $topHeight - $diff; }

        ul {
            list-style: none;
            li { font-size: 16px; }
        }
    }
}