$font: 16px 'Minecraftia', 'Helvetica', 'Arial', sans-serif;

@font-face {
    font-family: 'Minecraftia';
    src: url('/static/fonts/minecraftia-webfont.eot');
    src: url('/static/fonts/minecraftia-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/minecraftia-webfont.woff') format('woff'),
         url('/static/fonts/minecraftia-webfont.ttf') format('truetype'),
         url('/static/fonts/minecraftia-webfont.svg#minecraftiaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

* { padding: 0; margin: 0; outline: none; }

body {
    background: #3A63B5;
    font: $font;
}

#background {
    width: 100%;
    background-size: cover;
    position: absolute;
    z-index: -1;
    transition: background-image 0.7s ease-in-out;
}

#background.beach { background-image: url('/static/images/beach.jpg'); }
#background.forest { background-image: url('/static/images/forest.jpg'); }
#background.cave { background-image: url('/static/images/cave.jpg'); }

a {
    text-decoration: none;
}

#login {
    h1 {
        text-transform:uppercase;
        font-weight:bold;
        font-size:100pt;
        text-align:center;
        height:120px;
        line-height:110px;
        vertical-align:bottom;
        position:absolute;
        left:0;
        right:0;
        top:100px;
        bottom:0;
        display:block;
        color: white;
        opacity: 1;
    }

    #center {
        position: absolute;
        top: 250px;
        left: 0;
        right: 0;
        bottom: 0;
        text-align: center;
        color: white;

        #links {
            a {
                color: white;
                font-size: 36px;
                padding: 0 20px;
                transition: 0.2s all;
                opacity: 0.8;
            }

            a:hover {
                text-decoration: none;
                opacity: 1;
            }
        }

        #input {
            display: none;
            margin: 0 auto;
            font: $font;
            font-size: 16px;

            td {
                padding: 3px;
            }

            td:first-child {
                text-align: right;
            }

            td:last-child {
                text-align: left;
            }
        }
    }
}

#intro {
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 700px;
    height: 150px;
    line-height: 1.5em;
    font-style: italic;

    small {
        font-style: normal;
    }
}

#home {
    margin: auto;
    width: 1030px;
    position: relative;
    top: 30px;

    // each widget in the home screen is a .box
    $border: 4px solid white;
    $bg: rgba(255, 255, 255, 0.4);
    $bg-highlight: rgba(255, 255, 255, 0.8);
    .box {
        border: $border;
        position: absolute;
        background: $bg;
        
        h1 {
            border-bottom: $border;
            font-size: 24px;
            padding: 5px 10px;
        }

        .content {
            padding: 10px;
            overflow: auto;
        }
    }
    
    #tabs-nav {
        position: absolute;
        left: 0;
        top: 175px;
        width: 125px;
        border: $border;
        
        a {
            display: block;
            background: $bg;
            color: black;
            padding: 5px 10px;
            border-bottom: $border;
        }

        a:last-child {
            border-bottom: 0;
        }

        a.active {
            background: $bg-highlight;
        }
    }

    #tab-container {
        position: absolute;
        left: 150px;
        top: 175px;

        .tab {
            display: none;
            width: 875px;
            height: 400px;
            background: $bg;
            border: $border;

            h1 {
                border-bottom: $border;
                font-size: 24px;
                padding: 5px 10px;
            }

            .content {
                padding: 10px;
            }
        }

        .tab.active {
            display: block;
        }

        #actions {
            ul {
                list-style: none;
                padding-left: 0;

                li {
                    margin-bottom: 3px;
                }
            }

            button {
                font: $font;
                font-size: 14px;
                border: 1px solid #888;
                border-radius: 4px;
                padding: 3px 5px;
                cursor: pointer;
                background: linear-gradient(to right, rgba(0, 0, 0, 0.1) 0%, rgba(255, 255, 255, 0.3) 0%);
            }

            .section { 
                float: left;
                width: 200px;
                
                h2 { 
                    font-size: 20px; 
                    margin-bottom: 5px;
                }
            }
        }

        #items {
            .item {
                width: 45px;
                height: 48px;
                padding-left: 3px;
                float: left;
                border: 1px solid white;
                color: white;
                text-shadow: 0 0 2px black;
                cursor: help;
                margin-right: 10px;
                background-size: 40px 40px;
                background-repeat: no-repeat;
                background-position: center center;
            }

            .twigs { background-image: url('/static/images/branches1.png'); }
            .driftwood { background-image: url('/static/images/driftwood1.png'); }
            .coconut { background-image: url('http://icons.iconarchive.com/icons/fi3ur/fruitsalad/256/coconut-icon.png'); }
            .seagrass { background-image: url('http://img2.wikia.nocookie.net/__cb20130227113414/farmville/images/4/4b/Seaweed-icon.png'); }
            .clam { background-image: url('/static/images/clam.png'); }
            .flowers { background-image: url('http://img1.wikia.nocookie.net/__cb20120204044002/battlefordreamisland/images/archive/3/34/20131221032657!Flower_Icon.png'); }
            .sheep { background-image: url('/static/images/sheepflank.png'); }
            .berries { background-image: url('/static/images/berries.png'); }
            .crab { background-image: url('/static/images/crab.png'); }
        }
    }

    $diff: 72px;
    $topHeight: 155px;
    #log {
        width: 800px;
        height: $topHeight;
        top: 0;
        left: 0;

        .content { 
            height: $topHeight - $diff; 
        }

        ul { 
            list-style-position: inside; 

            li {
                font-size: 12px;
            }
        }
    }

    #stats {
        width: 200px;
        height: $topHeight;
        left: 825px;
        top: 0;

        .content { height: $topHeight - $diff; }

        ul {
            list-style: none;
            li { font-size: 16px; }
        }
    }
}