<!DOCTYPE html>
<html>
  <head>
    <title>Frontier</title>
    <link href="http://fonts.googleapis.com/css?family=Cabin+Condensed:700" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Droid+Serif:400,400italic" rel="stylesheet">
    <!--link rel="stylesheet" href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css" /-->
    <link rel="stylesheet" href="/static/css/style.css" />

    <script src="/static/bower_components/jquery/jquery.min.js"></script>
    <!--script src="/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script-->
    <script src="/static/bower_components/underscore/underscore-min.js"></script>
    <script src="/static/bower_components/backbone/backbone-min.js"></script>
    <script src="/static/bower_components/handlebars/handlebars.min.js"></script>

    <script> var LOGGED_IN = {{ logged_in }}; </script>
    <script src="/static/bower_components/requirejs/require.js" data-main="/static/js/app"></script>
  </head>
  <body></body>
</html>
