<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="210" height="900" id="swf" align="middle">
  <param name="movie" value="/static/start.swf" />
  <param name="quality" value="high" />
  <param name="bgcolor" value="#ffffff" />
  <param name="play" value="true" />
  <param name="loop" value="true" />
  <param name="wmode" value="window" />
  <param name="scale" value="showall" />
  <param name="menu" value="true" />
  <param name="devicefont" value="false" />
  <param name="salign" value="" />
  <param name="allowScriptAccess" value="sameDomain" />
  <!--[if !IE]>-->
  <object type="application/x-shockwave-flash" data="/static/start.swf" width="2100" height="900">
	<param name="movie" value="lagooned1.swf" />
	<param name="quality" value="high" />
	<param name="bgcolor" value="#ffffff" />
	<param name="play" value="true" />
	<param name="loop" value="true" />
	<param name="wmode" value="window" />
	<param name="scale" value="showall" />
	<param name="menu" value="true" />
	<param name="devicefont" value="false" />
	<param name="salign" value="" />
	<param name="allowScriptAccess" value="sameDomain" />
	<!--<![endif]-->
	<a href="http://www.adobe.com/go/getflash">
	  <img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player" />
	</a>
	<!--[if !IE]>-->
  </object>
  <!--<![endif]-->
</object>

<div id="login">
  <h1>Lagooned</h1>
  <div id="center">
    <div id="links">
      <a href="#" id="start">Start</a>
      <a href="#">Login</a>
    </div>
    <table id="input">
      <tr>
        <td>What's your name?</td>
        <td><input type="text" id="name" /></td>
      </tr>
      <tr>
        <td>You'll need a password.</td>
        <td><input type="password" id="password" /></td>
      </tr>
      <tr>
        <td></td>
        <td><input type="submit" value="Start" id="submit" /></td>
      </tr>
    </table>
  </div>
</div>
