<div id="login">
  <h1>Lagooned</h1>
  <div id="center">
    <div id="links">
      <a href="#" id="start">Start</a>
      <a href="#">Login</a>
    </div>
    <table id="input">
      <tr>
        <td>What's your name?</td>
        <td><input type="text" id="name" /></td>
      </tr>
      <tr>
        <td>You'll need a password.</td>
        <td><input type="password" id="password" /></td>
      </tr>
      <tr>
        <td></td>
        <td><input type="submit" value="Start" id="submit" /></td>
      </tr>
    </table>
  </div>
</div>
